body {background-color:black;
  font-family:arial;
  color:white;
}
h1 {color:grey;
  font-family:verdana
}
footer{
  text-align: center;
  font-size: 10;
}
.maindiv {background-color: white;
  color: black;
  width: 300px;
  padding: 20px;
  border-radius: 25px;
  margin: auto;
}
.box{
  border: 1px solid black;

}

